.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 31px;
  justify-content: space-between;
}

.header__logo {
  fill: $color-white-main;
}

.header__menu-btn {
  fill: $color-white-main;
  transform: scale(1);
  transition: transform $transition 150ms;
}

.header__menu-btn.hidden {
  transform: scale(0);
}

