.hero {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
      to top,
      $color-gradient-hero,
      $color-gradient-hero
    ), url('../images/mobile/hero/slider-3.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  padding-top: 208px;
  padding-bottom: 183px;
  transform: translateX(0);
  transition: transform $transition;
}

.hero.slided {
  transform: translateX(-100%);
}

.hero__container {
  padding-right: 143px;
}

.header-main {
  font-family: $font-support;
  @include font(48px, 1.17, 0.05em);
  color: $color-white-main;
  margin-bottom: 20px;
}

.hero__text {
    color: $color-font-gray;
    @include font(16px, 1.63, 0.02em);
    font-weight: 400;
}
