body {
  font-family: $font-main;
  font-weight: 600;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  
  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;    
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.flexy {
  display: flex;
}

.btn {
  font-family: inherit;
  display: block;
  min-width: 160px;
  max-width: 194px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid $color-orange-main;
  background-color: transparent;
}

.btn--light {
  color: inherit;
}

.preheader {
  align-items: center;
    @include font(11px, 1.36, 0.1em);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: inherit;
}

.preheader--dark {
    color: $color-font-preheader;
}

.preheader--dark::before,
.preheader--light::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 60px;
    margin-right: 20px;
}

.preheader--dark::before {
  background-color: $color-font-gray;
}