$color-dark-main: #303030;
$color-white-main: #fff;
$color-font-gray: #9DA4BD;
$color-orange-main: #FF6C00;
$color-bar-services: rgba(157, 164, 189, 0.12);
$color-bgc-gray: #F7F7F7;
$color-font-preheader: rgba(157, 164, 189, 0.6);
$color-font-form: rgba(157, 164, 189, 0.4);
$color-font-describer: #555555;
$color-bgc-footer-upper: #191C26;
$color-gradient-hero: rgba(25, 28, 38, 0.2);
$color-bgc-services: #111319;
$color-gradient-services: #171A24;
$color-gradient-services-desktop: #000;
$color-gradient-services-desktop-darkside: #090B13;

$font-main: Open Sans, sans-serif;
$font-support: Raleway, sans-serif;

$transition: 500ms linear;
