body {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  font-family: inherit;
  display: block;
  min-width: 160px;
  max-width: 194px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  background-color: transparent;
}

.btn--light {
  color: inherit;
}

.preheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: inherit;
}

.preheader--dark {
  color: rgba(157, 164, 189, 0.6);
}

.preheader--dark::before,
.preheader--light::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
}

.preheader--dark::before {
  background-color: #9DA4BD;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 31px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  fill: #fff;
}

.header__menu-btn {
  fill: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms linear 150ms;
  transition: -webkit-transform 500ms linear 150ms;
  transition: transform 500ms linear 150ms;
  transition: transform 500ms linear 150ms, -webkit-transform 500ms linear 150ms;
}

.header__menu-btn.hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/mobile/hero/slider-1.jpg");
  background-image: linear-gradient(to top, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/mobile/hero/slider-1.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  padding-top: 208px;
  padding-bottom: 183px;
}

.hero__container {
  position: relative;
  padding-right: 143px;
}

.header-main {
  font-family: Raleway, sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 20px;
}

.hero__text {
  color: #9DA4BD;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.slider {
  position: absolute;
  top: 63px;
  right: 31px;
  text-align: right;
}

.slider__item {
  display: block;
  height: 2px;
}

.slider__item:not(:last-child) {
  margin-bottom: 12px;
}

.slider__bar {
  fill: #9DA4BD;
}

.slider__bar--active {
  fill: #fff;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #fff;
  padding: 118px 103px 227px 40px;
  padding-left: 39px;
  color: #303030;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.mobile-menu.hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu__close {
  position: absolute;
  top: 48px;
  right: 31px;
}

.mobile-menu__navigation {
  margin-bottom: 64px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 24px;
}

.navigation__link:hover {
  color: #FF6C00;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.contacts__tel {
  display: inline-block;
  margin-bottom: 24px;
}

.menu__btn {
  width: 194px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  font-weight: inherit;
  text-transform: uppercase;
}

.socials__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-bottom: 24px;
}

.socials__link {
  color: inherit;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.socials__item::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 40px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.socials__item:hover::before {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}
/*# sourceMappingURL=main.css.map */