body {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  color: #303030;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  display: block;
  min-width: 160px;
  max-width: 194px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  background-color: transparent;
}

.btn--light {
  color: inherit;
}

.btn--dark {
  color: #fff;
}

.preheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: inherit;
}

.preheader--dark {
  color: rgba(157, 164, 189, 0.6);
}

.preheader--light {
  color: #303030;
}

.preheader--dark::before,
.preheader--light::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
}

.preheader--dark::before {
  background-color: #9da4bd;
}

.preheader--light::before {
  background-color: #303030;
}

.section-header {
  font-weight: 700;
  font-family: Raleway, sans-serif;
}

.section-describer {
  font-weight: 400;
  color: #555555;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 31px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  fill: #fff;
}

.header__menu-btn {
  fill: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms linear 150ms;
  transition: -webkit-transform 500ms linear 150ms;
  transition: transform 500ms linear 150ms;
  transition: transform 500ms linear 150ms, -webkit-transform 500ms linear 150ms;
}

.header__menu-btn.hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hero {
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2)));
  background-image: linear-gradient(to top, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  padding-top: 208px;
  padding-bottom: 183px;
}

.hero__container {
  position: relative;
  padding-right: 143px;
}

.header-main {
  font-family: Raleway, sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 20px;
}

.hero__text {
  color: #9da4bd;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.slider {
  position: absolute;
  top: 63px;
  right: 31px;
  text-align: right;
}

.slider__item {
  display: block;
  height: 2px;
}

.slider__item:not(:last-child) {
  margin-bottom: 12px;
}

.slider__bar {
  fill: #9da4bd;
}

.slider__bar--active {
  fill: #fff;
}

.slider-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider-box__img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.slider-box__img.slided-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slider-box__img.slided-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #fff;
  padding: 118px 103px 227px 40px;
  padding-left: 39px;
  color: #303030;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.mobile-menu.hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu__close {
  position: absolute;
  top: 48px;
  right: 31px;
}

.mobile-menu__navigation {
  margin-bottom: 64px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 24px;
}

.navigation__link:hover {
  color: #FF6C00;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.contacts__tel {
  display: inline-block;
  margin-bottom: 24px;
}

.menu__btn {
  width: 194px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  font-weight: inherit;
  text-transform: uppercase;
}

.socials__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-bottom: 24px;
}

.socials__link {
  color: inherit;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.socials__item::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 40px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.socials__item:hover::before {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}

.about__header {
  max-width: 330px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about__describer {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}

.about__description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.services {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url("../images/mobile/services/img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services__header {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 44px;
}

.services__assort {
  padding: 30px;
  margin-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.assort__item {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.assort__item:not(:last-child) {
  margin-bottom: 20px;
}

.assort__item::before {
  content: '';
  display: inline-block;
  margin: 0 6px;
  height: 1px;
  color: rgba(157, 164, 189, 0.12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.assort__text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #9da4bd;
}

.assort__text--first {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.assort__text--second {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.services__btn {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */